// main: style.scss


//Colors

$color1-white: #fffffe;
$color2-blue: #094067;
$color3-gray: #5f6c7b;
$color4-light-blue: #3da9fc;
$color5-pink: #F582AE;
$color6-red: #ef4565;
$color-bg-blue: #90B4CE;
$color-bg-pink: #EC8598;
$color-bg-green:#AAEEAA;
$color-selected: #D8D8D4;
